/* Updated 2015-08-17 */
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 2px solid transparent;
  white-space: nowrap;
  padding: 4px 10px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #ffffff;
  border-color: #cccccc;
}
.btn-default .badge {
  color: #ffffff;
  background-color: #333333;
}
.btn-primary {
  color: #ffffff;
  background-color: #428bca;
  border-color: #3a86c8;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #2b669a;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #428bca;
  border-color: #3a86c8;
}
.btn-primary .badge {
  color: #428bca;
  background-color: #ffffff;
}
.btn-success {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #55b555;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #47a447;
  border-color: #3e8f3e;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #5cb85c;
  border-color: #55b555;
}
.btn-success .badge {
  color: #5cb85c;
  background-color: #ffffff;
}
.btn-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #53bddc;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #39b3d7;
  border-color: #28a4c9;
}
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #53bddc;
}
.btn-info .badge {
  color: #5bc0de;
  background-color: #ffffff;
}
.btn-warning {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: #efa945;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #ed9c28;
  border-color: #e38d13;
}
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #efa945;
}
.btn-warning .badge {
  color: #f0ad4e;
  background-color: #ffffff;
}
.btn-danger {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d74b47;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #d2322d;
  border-color: #b92c28;
}
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d74b47;
}
.btn-danger .badge {
  color: #d9534f;
  background-color: #ffffff;
}
.btn-link {
  color: #008ecb;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #008ecb;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #bdc7cf;
  text-decoration: none;
}
.btn-lg {
  padding: 8px 14px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-sm {
  padding: 3px 8px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 4px;
}
.btn-xs {
  padding: 1px 5px;
  font-size: 11px;
  line-height: 1.5;
  border-radius: 4px;
}
.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
.fsl-orange {
  background-color: #e66a08 !important;
}
.fsl-yellow {
  background-color: #ffc20f !important;
}
.fsl-yellow-xlight {
  background-color: #feefcd !important;
}
.fsl-gray {
  background-color: #666666 !important;
}
.fsl-gray-dark {
  background-color: #51626f !important;
}
.fsl-gray-light {
  background-color: #ccd6d8 !important;
}
.fsl-gray-medium {
  background-color: #b0b0b0 !important;
}
.fsl-gray-xlight {
  background-color: #e7eaeb !important;
}
.fsl-gray-xxlight {
  background-color: #f2f4f6 !important;
}
.fsl-slate {
  background-color: #9aa9af !important;
}
.fsl-blue {
  background-color: #008ecb !important;
}
.fsl-blue-light {
  background-color: #9bc0e0 !important;
}
.fsl-blue-xlight {
  background-color: #eef9fa !important;
}
.fsl-lightblue {
  background-color: #8ad3de !important;
}
.fsl-lightblue-light {
  background-color: #c4e8ee !important;
}
.fsl-purple {
  background-color: #2b368a !important;
}
.fsl-purple-light {
  background-color: #6f6fcc !important;
}
.fsl-purple-xlight {
  background-color: #efedff !important;
}
.fsl-black {
  background-color: #000000 !important;
}
.fsl-white {
  background-color: #ffffff !important;
}
.fsl-green {
  background-color: #c1cd23 !important;
}
.fsl-orange-text {
  color: #e66a08 !important;
}
.fsl-black-text {
  color: #000000 !important;
}
.fsl-white-text {
  color: #ffffff !important;
}
.fsl-blue-text {
  color: #008ecb !important;
}
.fsl-gray-text {
  color: #666666 !important;
}
.fsl-slate-text {
  color: #9aa9af !important;
}
.fsl-gray-dark-text {
  color: #51626f !important;
}
.fsl-gray-light-text {
  color: #ccd6d8 !important;
}
.fsl-gray-medium-text {
  color: #b0b0b0 !important;
}
.fsl-green-text {
  color: #c1cd23 !important;
}
.btn-white {
  color: #b0b0b0;
  background-color: #ffffff;
  border-color: #b0b0b0;
  border: 2px solid;
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
  color: #b0b0b0;
  background-color: #ebebeb;
  border-color: #919191;
}
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
  background-image: none;
}
.btn-white.disabled,
.btn-white[disabled],
fieldset[disabled] .btn-white,
.btn-white.disabled:hover,
.btn-white[disabled]:hover,
fieldset[disabled] .btn-white:hover,
.btn-white.disabled:focus,
.btn-white[disabled]:focus,
fieldset[disabled] .btn-white:focus,
.btn-white.disabled:active,
.btn-white[disabled]:active,
fieldset[disabled] .btn-white:active,
.btn-white.disabled.active,
.btn-white[disabled].active,
fieldset[disabled] .btn-white.active {
  background-color: #ffffff;
  border-color: #b0b0b0;
}
.btn-white .badge {
  color: #ffffff;
  background-color: #b0b0b0;
}
.btn-orange {
  color: #ffffff;
  background-color: #e66a08;
  border-color: #dc6508;
}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active,
.open .dropdown-toggle.btn-orange {
  color: #ffffff;
  background-color: #bf5807;
  border-color: #a14a06;
}
.btn-orange:active,
.btn-orange.active,
.open .dropdown-toggle.btn-orange {
  background-image: none;
}
.btn-orange.disabled,
.btn-orange[disabled],
fieldset[disabled] .btn-orange,
.btn-orange.disabled:hover,
.btn-orange[disabled]:hover,
fieldset[disabled] .btn-orange:hover,
.btn-orange.disabled:focus,
.btn-orange[disabled]:focus,
fieldset[disabled] .btn-orange:focus,
.btn-orange.disabled:active,
.btn-orange[disabled]:active,
fieldset[disabled] .btn-orange:active,
.btn-orange.disabled.active,
.btn-orange[disabled].active,
fieldset[disabled] .btn-orange.active {
  background-color: #e66a08;
  border-color: #dc6508;
}
.btn-orange .badge {
  color: #e66a08;
  background-color: #ffffff;
}
.btn-purple {
  color: #ffffff;
  background-color: #2b368a;
  border-color: #293382;
}
.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active,
.btn-purple.active,
.open .dropdown-toggle.btn-purple {
  color: #ffffff;
  background-color: #212a6b;
  border-color: #1a2154;
}
.btn-purple:active,
.btn-purple.active,
.open .dropdown-toggle.btn-purple {
  background-image: none;
}
.btn-purple.disabled,
.btn-purple[disabled],
fieldset[disabled] .btn-purple,
.btn-purple.disabled:hover,
.btn-purple[disabled]:hover,
fieldset[disabled] .btn-purple:hover,
.btn-purple.disabled:focus,
.btn-purple[disabled]:focus,
fieldset[disabled] .btn-purple:focus,
.btn-purple.disabled:active,
.btn-purple[disabled]:active,
fieldset[disabled] .btn-purple:active,
.btn-purple.disabled.active,
.btn-purple[disabled].active,
fieldset[disabled] .btn-purple.active {
  background-color: #2b368a;
  border-color: #293382;
}
.btn-purple .badge {
  color: #2b368a;
  background-color: #ffffff;
}
.btn-purple-light {
  color: #ffffff;
  background-color: #6f6fcc;
  border-color: #6767c9;
}
.btn-purple-light:hover,
.btn-purple-light:focus,
.btn-purple-light:active,
.btn-purple-light.active,
.open .dropdown-toggle.btn-purple-light {
  color: #ffffff;
  background-color: #5151c1;
  border-color: #4040b4;
}
.btn-purple-light:active,
.btn-purple-light.active,
.open .dropdown-toggle.btn-purple-light {
  background-image: none;
}
.btn-purple-light.disabled,
.btn-purple-light[disabled],
fieldset[disabled] .btn-purple-light,
.btn-purple-light.disabled:hover,
.btn-purple-light[disabled]:hover,
fieldset[disabled] .btn-purple-light:hover,
.btn-purple-light.disabled:focus,
.btn-purple-light[disabled]:focus,
fieldset[disabled] .btn-purple-light:focus,
.btn-purple-light.disabled:active,
.btn-purple-light[disabled]:active,
fieldset[disabled] .btn-purple-light:active,
.btn-purple-light.disabled.active,
.btn-purple-light[disabled].active,
fieldset[disabled] .btn-purple-light.active {
  background-color: #6f6fcc;
  border-color: #6767c9;
}
.btn-purple-light .badge {
  color: #6f6fcc;
  background-color: #ffffff;
}
.btn-purple-xlight {
  color: #51626f;
  background-color: #efedff;
  border-color: #e6e3ff;
}
.btn-purple-xlight:hover,
.btn-purple-xlight:focus,
.btn-purple-xlight:active,
.btn-purple-xlight.active,
.open .dropdown-toggle.btn-purple-xlight {
  color: #51626f;
  background-color: #cbc4ff;
  border-color: #b0a6ff;
}
.btn-purple-xlight:active,
.btn-purple-xlight.active,
.open .dropdown-toggle.btn-purple-xlight {
  background-image: none;
}
.btn-purple-xlight.disabled,
.btn-purple-xlight[disabled],
fieldset[disabled] .btn-purple-xlight,
.btn-purple-xlight.disabled:hover,
.btn-purple-xlight[disabled]:hover,
fieldset[disabled] .btn-purple-xlight:hover,
.btn-purple-xlight.disabled:focus,
.btn-purple-xlight[disabled]:focus,
fieldset[disabled] .btn-purple-xlight:focus,
.btn-purple-xlight.disabled:active,
.btn-purple-xlight[disabled]:active,
fieldset[disabled] .btn-purple-xlight:active,
.btn-purple-xlight.disabled.active,
.btn-purple-xlight[disabled].active,
fieldset[disabled] .btn-purple-xlight.active {
  background-color: #efedff;
  border-color: #e6e3ff;
}
.btn-purple-xlight .badge {
  color: #efedff;
  background-color: #51626f;
}
.btn-slate {
  color: #ffffff;
  background-color: #9aa9af;
  border-color: #94a4aa;
}
.btn-slate:hover,
.btn-slate:focus,
.btn-slate:active,
.btn-slate.active,
.open .dropdown-toggle.btn-slate {
  color: #ffffff;
  background-color: #83969d;
  border-color: #72878f;
}
.btn-slate:active,
.btn-slate.active,
.open .dropdown-toggle.btn-slate {
  background-image: none;
}
.btn-slate.disabled,
.btn-slate[disabled],
fieldset[disabled] .btn-slate,
.btn-slate.disabled:hover,
.btn-slate[disabled]:hover,
fieldset[disabled] .btn-slate:hover,
.btn-slate.disabled:focus,
.btn-slate[disabled]:focus,
fieldset[disabled] .btn-slate:focus,
.btn-slate.disabled:active,
.btn-slate[disabled]:active,
fieldset[disabled] .btn-slate:active,
.btn-slate.disabled.active,
.btn-slate[disabled].active,
fieldset[disabled] .btn-slate.active {
  background-color: #9aa9af;
  border-color: #94a4aa;
}
.btn-slate .badge {
  color: #9aa9af;
  background-color: #ffffff;
}
.btn-gray {
  color: #ffffff;
  background-color: #666666;
  border-color: #616161;
}
.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active,
.btn-gray.active,
.open .dropdown-toggle.btn-gray {
  color: #ffffff;
  background-color: #525252;
  border-color: #424242;
}
.btn-gray:active,
.btn-gray.active,
.open .dropdown-toggle.btn-gray {
  background-image: none;
}
.btn-gray.disabled,
.btn-gray[disabled],
fieldset[disabled] .btn-gray,
.btn-gray.disabled:hover,
.btn-gray[disabled]:hover,
fieldset[disabled] .btn-gray:hover,
.btn-gray.disabled:focus,
.btn-gray[disabled]:focus,
fieldset[disabled] .btn-gray:focus,
.btn-gray.disabled:active,
.btn-gray[disabled]:active,
fieldset[disabled] .btn-gray:active,
.btn-gray.disabled.active,
.btn-gray[disabled].active,
fieldset[disabled] .btn-gray.active {
  background-color: #666666;
  border-color: #616161;
}
.btn-gray .badge {
  color: #666666;
  background-color: #ffffff;
}
.btn-gray-dark {
  color: #ffffff;
  background-color: #51626f;
  border-color: #4d5d69;
}
.btn-gray-dark:hover,
.btn-gray-dark:focus,
.btn-gray-dark:active,
.btn-gray-dark.active,
.open .dropdown-toggle.btn-gray-dark {
  color: #ffffff;
  background-color: #404d57;
  border-color: #333e46;
}
.btn-gray-dark:active,
.btn-gray-dark.active,
.open .dropdown-toggle.btn-gray-dark {
  background-image: none;
}
.btn-gray-dark.disabled,
.btn-gray-dark[disabled],
fieldset[disabled] .btn-gray-dark,
.btn-gray-dark.disabled:hover,
.btn-gray-dark[disabled]:hover,
fieldset[disabled] .btn-gray-dark:hover,
.btn-gray-dark.disabled:focus,
.btn-gray-dark[disabled]:focus,
fieldset[disabled] .btn-gray-dark:focus,
.btn-gray-dark.disabled:active,
.btn-gray-dark[disabled]:active,
fieldset[disabled] .btn-gray-dark:active,
.btn-gray-dark.disabled.active,
.btn-gray-dark[disabled].active,
fieldset[disabled] .btn-gray-dark.active {
  background-color: #51626f;
  border-color: #4d5d69;
}
.btn-gray-dark .badge {
  color: #51626f;
  background-color: #ffffff;
}
.btn-gray-medium {
  color: #ffffff;
  background-color: #b0b0b0;
  border-color: #ababab;
}
.btn-gray-medium:hover,
.btn-gray-medium:focus,
.btn-gray-medium:active,
.btn-gray-medium.active,
.open .dropdown-toggle.btn-gray-medium {
  color: #ffffff;
  background-color: #9c9c9c;
  border-color: #8c8c8c;
}
.btn-gray-medium:active,
.btn-gray-medium.active,
.open .dropdown-toggle.btn-gray-medium {
  background-image: none;
}
.btn-gray-medium.disabled,
.btn-gray-medium[disabled],
fieldset[disabled] .btn-gray-medium,
.btn-gray-medium.disabled:hover,
.btn-gray-medium[disabled]:hover,
fieldset[disabled] .btn-gray-medium:hover,
.btn-gray-medium.disabled:focus,
.btn-gray-medium[disabled]:focus,
fieldset[disabled] .btn-gray-medium:focus,
.btn-gray-medium.disabled:active,
.btn-gray-medium[disabled]:active,
fieldset[disabled] .btn-gray-medium:active,
.btn-gray-medium.disabled.active,
.btn-gray-medium[disabled].active,
fieldset[disabled] .btn-gray-medium.active {
  background-color: #b0b0b0;
  border-color: #ababab;
}
.btn-gray-medium .badge {
  color: #b0b0b0;
  background-color: #ffffff;
}
.btn-gray-light {
  color: #51626f;
  background-color: #ccd6d8;
  border-color: #c6d1d4;
}
.btn-gray-light:hover,
.btn-gray-light:focus,
.btn-gray-light:active,
.btn-gray-light.active,
.open .dropdown-toggle.btn-gray-light {
  color: #51626f;
  background-color: #b5c3c6;
  border-color: #a4b5b9;
}
.btn-gray-light:active,
.btn-gray-light.active,
.open .dropdown-toggle.btn-gray-light {
  background-image: none;
}
.btn-gray-light.disabled,
.btn-gray-light[disabled],
fieldset[disabled] .btn-gray-light,
.btn-gray-light.disabled:hover,
.btn-gray-light[disabled]:hover,
fieldset[disabled] .btn-gray-light:hover,
.btn-gray-light.disabled:focus,
.btn-gray-light[disabled]:focus,
fieldset[disabled] .btn-gray-light:focus,
.btn-gray-light.disabled:active,
.btn-gray-light[disabled]:active,
fieldset[disabled] .btn-gray-light:active,
.btn-gray-light.disabled.active,
.btn-gray-light[disabled].active,
fieldset[disabled] .btn-gray-light.active {
  background-color: #ccd6d8;
  border-color: #c6d1d4;
}
.btn-gray-light .badge {
  color: #ccd6d8;
  background-color: #51626f;
}
.btn-gray-xlight {
  color: #51626f;
  background-color: #e7eaeb;
  border-color: #e1e5e6;
}
.btn-gray-xlight:hover,
.btn-gray-xlight:focus,
.btn-gray-xlight:active,
.btn-gray-xlight.active,
.open .dropdown-toggle.btn-gray-xlight {
  color: #51626f;
  background-color: #d1d7d8;
  border-color: #c0c8cb;
}
.btn-gray-xlight:active,
.btn-gray-xlight.active,
.open .dropdown-toggle.btn-gray-xlight {
  background-image: none;
}
.btn-gray-xlight.disabled,
.btn-gray-xlight[disabled],
fieldset[disabled] .btn-gray-xlight,
.btn-gray-xlight.disabled:hover,
.btn-gray-xlight[disabled]:hover,
fieldset[disabled] .btn-gray-xlight:hover,
.btn-gray-xlight.disabled:focus,
.btn-gray-xlight[disabled]:focus,
fieldset[disabled] .btn-gray-xlight:focus,
.btn-gray-xlight.disabled:active,
.btn-gray-xlight[disabled]:active,
fieldset[disabled] .btn-gray-xlight:active,
.btn-gray-xlight.disabled.active,
.btn-gray-xlight[disabled].active,
fieldset[disabled] .btn-gray-xlight.active {
  background-color: #e7eaeb;
  border-color: #e1e5e6;
}
.btn-gray-xlight .badge {
  color: #e7eaeb;
  background-color: #51626f;
}
.btn-gray-xxlight {
  color: #51626f;
  background-color: #f2f4f6;
  border-color: #eceff2;
}
.btn-gray-xxlight:hover,
.btn-gray-xxlight:focus,
.btn-gray-xxlight:active,
.btn-gray-xxlight.active,
.open .dropdown-toggle.btn-gray-xxlight {
  color: #51626f;
  background-color: #dae0e5;
  border-color: #c8d0d9;
}
.btn-gray-xxlight:active,
.btn-gray-xxlight.active,
.open .dropdown-toggle.btn-gray-xxlight {
  background-image: none;
}
.btn-gray-xxlight.disabled,
.btn-gray-xxlight[disabled],
fieldset[disabled] .btn-gray-xxlight,
.btn-gray-xxlight.disabled:hover,
.btn-gray-xxlight[disabled]:hover,
fieldset[disabled] .btn-gray-xxlight:hover,
.btn-gray-xxlight.disabled:focus,
.btn-gray-xxlight[disabled]:focus,
fieldset[disabled] .btn-gray-xxlight:focus,
.btn-gray-xxlight.disabled:active,
.btn-gray-xxlight[disabled]:active,
fieldset[disabled] .btn-gray-xxlight:active,
.btn-gray-xxlight.disabled.active,
.btn-gray-xxlight[disabled].active,
fieldset[disabled] .btn-gray-xxlight.active {
  background-color: #f2f4f6;
  border-color: #eceff2;
}
.btn-gray-xxlight .badge {
  color: #f2f4f6;
  background-color: #51626f;
}
.btn-blue {
  color: #ffffff;
  background-color: #008ecb;
  border-color: #0087c1;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.open .dropdown-toggle.btn-blue {
  color: #ffffff;
  background-color: #0071a2;
  border-color: #005c84;
}
.btn-blue:active,
.btn-blue.active,
.open .dropdown-toggle.btn-blue {
  background-image: none;
}
.btn-blue.disabled,
.btn-blue[disabled],
fieldset[disabled] .btn-blue,
.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
fieldset[disabled] .btn-blue:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
fieldset[disabled] .btn-blue:focus,
.btn-blue.disabled:active,
.btn-blue[disabled]:active,
fieldset[disabled] .btn-blue:active,
.btn-blue.disabled.active,
.btn-blue[disabled].active,
fieldset[disabled] .btn-blue.active {
  background-color: #008ecb;
  border-color: #0087c1;
}
.btn-blue .badge {
  color: #008ecb;
  background-color: #ffffff;
}
.btn-blue-light {
  color: #ffffff;
  background-color: #9bc0e0;
  border-color: #93bbde;
}
.btn-blue-light:hover,
.btn-blue-light:focus,
.btn-blue-light:active,
.btn-blue-light.active,
.open .dropdown-toggle.btn-blue-light {
  color: #ffffff;
  background-color: #7cacd6;
  border-color: #649ecf;
}
.btn-blue-light:active,
.btn-blue-light.active,
.open .dropdown-toggle.btn-blue-light {
  background-image: none;
}
.btn-blue-light.disabled,
.btn-blue-light[disabled],
fieldset[disabled] .btn-blue-light,
.btn-blue-light.disabled:hover,
.btn-blue-light[disabled]:hover,
fieldset[disabled] .btn-blue-light:hover,
.btn-blue-light.disabled:focus,
.btn-blue-light[disabled]:focus,
fieldset[disabled] .btn-blue-light:focus,
.btn-blue-light.disabled:active,
.btn-blue-light[disabled]:active,
fieldset[disabled] .btn-blue-light:active,
.btn-blue-light.disabled.active,
.btn-blue-light[disabled].active,
fieldset[disabled] .btn-blue-light.active {
  background-color: #9bc0e0;
  border-color: #93bbde;
}
.btn-blue-light .badge {
  color: #9bc0e0;
  background-color: #ffffff;
}
.btn-blue-xlight {
  color: #51626f;
  background-color: #eef9fa;
  border-color: #e6f6f8;
}
.btn-blue-xlight:hover,
.btn-blue-xlight:focus,
.btn-blue-xlight:active,
.btn-blue-xlight.active,
.open .dropdown-toggle.btn-blue-xlight {
  color: #51626f;
  background-color: #ceeef1;
  border-color: #b7e6ea;
}
.btn-blue-xlight:active,
.btn-blue-xlight.active,
.open .dropdown-toggle.btn-blue-xlight {
  background-image: none;
}
.btn-blue-xlight.disabled,
.btn-blue-xlight[disabled],
fieldset[disabled] .btn-blue-xlight,
.btn-blue-xlight.disabled:hover,
.btn-blue-xlight[disabled]:hover,
fieldset[disabled] .btn-blue-xlight:hover,
.btn-blue-xlight.disabled:focus,
.btn-blue-xlight[disabled]:focus,
fieldset[disabled] .btn-blue-xlight:focus,
.btn-blue-xlight.disabled:active,
.btn-blue-xlight[disabled]:active,
fieldset[disabled] .btn-blue-xlight:active,
.btn-blue-xlight.disabled.active,
.btn-blue-xlight[disabled].active,
fieldset[disabled] .btn-blue-xlight.active {
  background-color: #eef9fa;
  border-color: #e6f6f8;
}
.btn-blue-xlight .badge {
  color: #eef9fa;
  background-color: #51626f;
}
.btn-lightblue {
  color: #ffffff;
  background-color: #8ad3de;
  border-color: #82d0dc;
}
.btn-lightblue:hover,
.btn-lightblue:focus,
.btn-lightblue:active,
.btn-lightblue.active,
.open .dropdown-toggle.btn-lightblue {
  color: #ffffff;
  background-color: #6ac7d5;
  border-color: #52bece;
}
.btn-lightblue:active,
.btn-lightblue.active,
.open .dropdown-toggle.btn-lightblue {
  background-image: none;
}
.btn-lightblue.disabled,
.btn-lightblue[disabled],
fieldset[disabled] .btn-lightblue,
.btn-lightblue.disabled:hover,
.btn-lightblue[disabled]:hover,
fieldset[disabled] .btn-lightblue:hover,
.btn-lightblue.disabled:focus,
.btn-lightblue[disabled]:focus,
fieldset[disabled] .btn-lightblue:focus,
.btn-lightblue.disabled:active,
.btn-lightblue[disabled]:active,
fieldset[disabled] .btn-lightblue:active,
.btn-lightblue.disabled.active,
.btn-lightblue[disabled].active,
fieldset[disabled] .btn-lightblue.active {
  background-color: #8ad3de;
  border-color: #82d0dc;
}
.btn-lightblue .badge {
  color: #8ad3de;
  background-color: #ffffff;
}
.btn-lightblue-light {
  color: #51626f;
  background-color: #c4e8ee;
  border-color: #bce5ec;
}
.btn-lightblue-light:hover,
.btn-lightblue-light:focus,
.btn-lightblue-light:active,
.btn-lightblue-light.active,
.open .dropdown-toggle.btn-lightblue-light {
  color: #51626f;
  background-color: #a4dce5;
  border-color: #8dd2de;
}
.btn-lightblue-light:active,
.btn-lightblue-light.active,
.open .dropdown-toggle.btn-lightblue-light {
  background-image: none;
}
.btn-lightblue-light.disabled,
.btn-lightblue-light[disabled],
fieldset[disabled] .btn-lightblue-light,
.btn-lightblue-light.disabled:hover,
.btn-lightblue-light[disabled]:hover,
fieldset[disabled] .btn-lightblue-light:hover,
.btn-lightblue-light.disabled:focus,
.btn-lightblue-light[disabled]:focus,
fieldset[disabled] .btn-lightblue-light:focus,
.btn-lightblue-light.disabled:active,
.btn-lightblue-light[disabled]:active,
fieldset[disabled] .btn-lightblue-light:active,
.btn-lightblue-light.disabled.active,
.btn-lightblue-light[disabled].active,
fieldset[disabled] .btn-lightblue-light.active {
  background-color: #c4e8ee;
  border-color: #bce5ec;
}
.btn-lightblue-light .badge {
  color: #c4e8ee;
  background-color: #51626f;
}
.btn-yellow {
  color: #51626f;
  background-color: #ffc20f;
  border-color: #ffbf05;
}
.btn-yellow:hover,
.btn-yellow:focus,
.btn-yellow:active,
.btn-yellow.active,
.open .dropdown-toggle.btn-yellow {
  color: #51626f;
  background-color: #e5ab00;
  border-color: #c79400;
}
.btn-yellow:active,
.btn-yellow.active,
.open .dropdown-toggle.btn-yellow {
  background-image: none;
}
.btn-yellow.disabled,
.btn-yellow[disabled],
fieldset[disabled] .btn-yellow,
.btn-yellow.disabled:hover,
.btn-yellow[disabled]:hover,
fieldset[disabled] .btn-yellow:hover,
.btn-yellow.disabled:focus,
.btn-yellow[disabled]:focus,
fieldset[disabled] .btn-yellow:focus,
.btn-yellow.disabled:active,
.btn-yellow[disabled]:active,
fieldset[disabled] .btn-yellow:active,
.btn-yellow.disabled.active,
.btn-yellow[disabled].active,
fieldset[disabled] .btn-yellow.active {
  background-color: #ffc20f;
  border-color: #ffbf05;
}
.btn-yellow .badge {
  color: #ffc20f;
  background-color: #51626f;
}
.btn-yellow-xlight {
  color: #51626f;
  background-color: #feefcd;
  border-color: #feecc3;
}
.btn-yellow-xlight:hover,
.btn-yellow-xlight:focus,
.btn-yellow-xlight:active,
.btn-yellow-xlight.active,
.open .dropdown-toggle.btn-yellow-xlight {
  color: #51626f;
  background-color: #fde2a5;
  border-color: #fdd987;
}
.btn-yellow-xlight:active,
.btn-yellow-xlight.active,
.open .dropdown-toggle.btn-yellow-xlight {
  background-image: none;
}
.btn-yellow-xlight.disabled,
.btn-yellow-xlight[disabled],
fieldset[disabled] .btn-yellow-xlight,
.btn-yellow-xlight.disabled:hover,
.btn-yellow-xlight[disabled]:hover,
fieldset[disabled] .btn-yellow-xlight:hover,
.btn-yellow-xlight.disabled:focus,
.btn-yellow-xlight[disabled]:focus,
fieldset[disabled] .btn-yellow-xlight:focus,
.btn-yellow-xlight.disabled:active,
.btn-yellow-xlight[disabled]:active,
fieldset[disabled] .btn-yellow-xlight:active,
.btn-yellow-xlight.disabled.active,
.btn-yellow-xlight[disabled].active,
fieldset[disabled] .btn-yellow-xlight.active {
  background-color: #feefcd;
  border-color: #feecc3;
}
.btn-yellow-xlight .badge {
  color: #feefcd;
  background-color: #51626f;
}
.btn-green {
  color: #ffffff;
  background-color: #c1cd23;
  border-color: #b9c422;
}
.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.open .dropdown-toggle.btn-green {
  color: #ffffff;
  background-color: #a0aa1d;
  border-color: #889019;
}
.btn-green:active,
.btn-green.active,
.open .dropdown-toggle.btn-green {
  background-image: none;
}
.btn-green.disabled,
.btn-green[disabled],
fieldset[disabled] .btn-green,
.btn-green.disabled:hover,
.btn-green[disabled]:hover,
fieldset[disabled] .btn-green:hover,
.btn-green.disabled:focus,
.btn-green[disabled]:focus,
fieldset[disabled] .btn-green:focus,
.btn-green.disabled:active,
.btn-green[disabled]:active,
fieldset[disabled] .btn-green:active,
.btn-green.disabled.active,
.btn-green[disabled].active,
fieldset[disabled] .btn-green.active {
  background-color: #c1cd23;
  border-color: #b9c422;
}
.btn-green .badge {
  color: #c1cd23;
  background-color: #ffffff;
}
.btn {
  font-weight: 700;
}
.btn-icon-link {
  color: #008ecb;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  outline: 0;
}
.btn-icon-link,
.btn-icon-link:active,
.btn-icon-link[disabled],
fieldset[disabled] .btn-icon-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}
.btn-icon-link,
.btn-icon-link:hover,
.btn-icon-link:focus,
.btn-icon-link:active {
  border-color: transparent;
  outline: 0;
}
.btn-icon-link:hover,
.btn-icon-link:focus {
  color: #51626f;
  background-color: transparent;
  outline: 0;
}
.btn-icon-link[disabled]:hover,
fieldset[disabled] .btn-icon-link:hover,
.btn-icon-link[disabled]:focus,
fieldset[disabled] .btn-icon-link:focus {
  color: #bdc7cf;
  text-decoration: none;
  outline: 0;
}
.btn-icon-link [class^="icon-"],
.btn-icon-link [class*=" icon-"] {
  font-size: 1.2em;
  position: relative;
  top: 2px;
}
