<!DOCTYPE html>
  <html>
  <head>
      <title>NXP Semiconductors | Automotive, Security, IoT</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="description" content="From microcontrollers and processors to sensors, analog ICs and connectivity, our technologies are fueling innovation in automotive, consumer, industrial and networking.">
      <meta name="keywords" content="NXP, NXP Semiconductors, NXP Solutions, NXP Applications, Analog, DSP, Digital Signal Processing, Power Management, Microcontroller, Sensors, RF, Processors, ICs, SOCs">
      <meta name="verify-v1" content="BXkOWcTHpEIHsaiI4T8cQwVghsgXd7NlIg+083NTZNI=">
      <meta name="DCSext.language_option" content="en" />
      <meta name="DCSext.en_ti" content="Welcome to NXP Semiconductors" />
      <meta name="DCSext.page_template" content="Main_Homepage" /> 
      <meta name="baidu-site-verification" content="K9kPMSVOyB" />
      <meta name="msvalidate.01" content="7A3A441EEF38540BD996CCEE9E0EB1F2" /> <!--Bing site verification-->
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black">

      <link href="//plus.google.com/103720125673936444479/posts" rel="publisher">
  
   
     <link rel="stylesheet" href="http://style.nxp.com/files/test/css_test/nxp-common.min.css" type="text/css" >
       <link rel="stylesheet" href="http://style.nxp.com/files/css/nxp-common-delta.css" type="text/css" />


        <!--[if lte IE 9]>
          <link rel="stylesheet" href="http://style.nxp.com/files/test/css_test/nxp-common-ie.min.css" type="text/css" />
          <script src="http://www.nxp.com/v1.1/files/js/html5shiv.js"></script>
        <![endif]--> 

        <!--[if lt IE 9]> 
          <script src="http://style.nxp.com/files/js/placeholders.min.js"></script>
          <script src="http://style.nxp.com/shared/js/respond.min.js"></script>
          <link rel="stylesheet" href="http://style.nxp.com/files/test/css_test/nxp-common-ie8.min.css">
        <![endif]-->

        <link rel="stylesheet" href="http://style.nxp.com/files/css/nxp-common-delta_ko.css" type="text/css" />
     


  </head>
  
  <body>

   <!-- //*  HEADER START  */ -->
  <header><div id="header" class="nxp-nav">
  <div class="container">
    <div class="row" id="top">
      <div class="col-sm-1" >
        <div id="fsl-logo">
           <a href="http://www.nxp.com" title="NXP Semiconductor" ><img src="http://image.nxp.com/files/graphic/logo_external/NXP_logo.png"></a>
        </div>
      </div>
      <div class="col-sm-11 pull-right"  >
        <ul class="list-inline pull-right" id="top-nav">
          <li>
            <div class="dropdown" id="login-block">
            <a href="https://www.nxp.com/security/public/login.LoginActionController.sp" class="login dtmHeaderLogin">   <span class="icon-user nxp-orange-text"></span>&nbsp;로그인 또는 등록</a>
            </div>
          </li>
           <li>
           <div class="dropdown" id="languages">
               <a href="#" id="languageDropdownMenu" data-toggle="dropdown" >
                <span class="flag flag-ko"></span>&nbsp;한국어&nbsp;<span class="icon-arrow-down2"></span></a>
              <ul id="language-actions" class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="languageDropdownMenu"   >
                <li role="presentation" class="select-lang">Select language</li>
                <li role="presentation"><a role="menuitem" class="lang-en "><span class="icon-globe2 nxp-blue-text pull-left"></span>&nbsp;English&nbsp;</a></li>
                <li role="presentation" ><a role="menuitem" class="lang-zh" href="http://www.nxp.com/zh-Hans" ><span class="flag flag-zh pull-left"></span>&nbsp;中文&nbsp;</a></li>
                <li role="presentation"><a role="menuitem" class="lang-ja " href="http://www.nxp.com/ja" ><span class="flag flag-ja pull-left"></span>&nbsp;日本語&nbsp;</a></li>
                <li role="presentation"><a role="menuitem" class="lang-ko selected" href="http://www.nxp.com/ko" ><span class="flag flag-ko pull-left"></span><span class="icon-checkmark3 fsl-orange-text pull-right"></span>&nbsp;한국어&nbsp;</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div id="shopping-cart">
           <a href="https://www.nxp.com/ko/webapp/ecommerce.show_cart.framework" ><span class="icon-cart nxp-green-text"></span>&nbsp;Cart</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-sm-8 pull-right" id="search-block" >
           <div class="input-group pull-right" id="search-input" >
               <form id="search" class="search-form" name="gs" method="GET" action="/search" onsubmit="return validateSubmitQuery(this);">
             <div class="sf-row">
              <div class="input-group-btn zIndex5" id="search-all">
              
                
                  <button type="button" class="btn btn-default dropdown-toggle everything" data-toggle="dropdown" tabindex="-1"><span id="Default-choice-list">제품 &nbsp;</span><span class="icon-arrow-down2"></span></button>
                  <ul id="search-choices" class="dropdown-menu" role="menu">  
                    <!--Modified for CR-60627 by b7215 start -->
                    <li id="All" name="nxp_search_all_results" style="display: none;"><a style="cursor:pointer"><span class="icon-globe"></span>&nbsp;&nbsp;제품</a></li>
                  <li id="Products" name="nxp_search_products"><a style="cursor:pointer"><span class="icon-part"></span>&nbsp;&nbsp;문서</a></li>
                  <li id="Documents" name="nxp_search_documents"><a style="cursor:pointer"><span class="icon-document"></span>&nbsp;&nbsp;소프트웨어 &amp; 툴</a></li>
                  <li id="SoftwareTools" name="nxp_search_sw_tools"><a style="cursor:pointer"><span class="icon-tools"></span>&nbsp;&nbsp;지원</a></li>
                  <li id="Support" name="nxp_search_support"><a style="cursor:pointer"><span class="icon-question6"></span>&nbsp;&nbsp;애플리케이션</a></li>
                  <!-- <li id="Applications" name="nxp_search_applications"><a style="cursor:pointer"><span class="icon-tree3"></span>&nbsp;&nbsp;비디오</a></li>-->
                  <li id="Videos" name="nxp_search_videos"><a style="cursor:pointer"><span class="icon-film"></span>&nbsp;&nbsp;교육</a></li>
                  <li id="Trainings" name="nxp_search_training"><a style="cursor:pointer"><span class="icon-graduation"></span>&nbsp;&nbsp;커뮤니티</a></li>
                  <li id="Community" name="nxp_search_community"><a style="cursor:pointer"><span class="icon-bubbles"></span>&nbsp;&nbsp;블로그</a></li>
                  <li id="Blogs" name="nxp_search_blogs"><a style="cursor:pointer"><span class="icon-bubble11"></span>&nbsp;&nbsp;파트너</a></li>
                  <li id="Partners" name="nxp_search_partner"><a style="cursor:pointer"><span class="icon-user7"></span>&nbsp;&nbsp;MCU 크로스 레퍼런스</a></li>
                    <li id="CrossReference" name="CrossReference"><a style="cursor:pointer"><span class="icon-shuffle2"></span>&nbsp;&nbsp;패키지 검색</a></li>
                    <li id="PackageSearch" name="PackageSearch"><a style="cursor:pointer"><span class="icon-key-keyboard"></span>&nbsp;&nbsp;케미컬 파인더</a></li>
                    <li id="ChemicalFinder" name="ChemicalFinder"><a style="cursor:pointer"><span class="icon-leaf2"></span>&nbsp;&nbsp;제품 선택</a></li>
                    <li id="ProductSelector" name="ProductSelector"><a style="cursor:pointer"><span class="icon-equalizer"></span>&nbsp;&nbsp;製品検索</a></li>
                    <!-- Modified for CR-60627 by b47215 end -->
                  </ul>
                  
                  
                </div>
                  <input type="text" value="" autocomplete="off" onkeyup=" searchTop(event)" id="parts" name="q" placeholder="Search..." class="form-control">
                  
                  <div class="input-group-btn " id="keyword-button-div">
                  <button style="cursor:pointer" type="submit" class="btn btn-default search-submit"><span class="icon-search2 fsl-gray-text"></span></button>
                <table style="width: 205px; visibility: hidden; margin-left:-368px; margin-top:00px;" id="result_suggest" cellpadding="0" cellspacing="0" class="ss-gac-m"></table>
                </div>
                
                
    
                 
                  
                <input id="client" name="client" value="nxp_search_all_results" type="hidden"> <input id="site" name="site" value="nxp_en" type="hidden"> <input id="proxystylesheet" name="proxystylesheet" value="nxp_search_style_fe" type="hidden"> <input id="sort" name="sort" value="date:D:L:d1" type="hidden">
                <input id="oe" name="oe" value="UTF-8" type="hidden"> <input id="ie" name="ie" value="UTF-8" type="hidden"> <input id="ud" name="ud" value="1" type="hidden"> <input id="output" name="output" value="xml_no_dtd" type="hidden">
                <input id="exclude_apps" name="exclude_apps" value="1" type="hidden"> <input id="callback" name="callback" value="ss_show" type="hidden"> <input id="lang_cd" name="lang_cd" value="ko" type="hidden"> <input id="filter" name="filter" value="0" type="hidden"> <input id="getfields" name="getfields" value="*" type="hidden"> <input type="hidden" name="baseUrl" value="http://www.nxp.com/webapp"> <input type="hidden" name="SEARCH_OPERATOR" value="Contains"> <input type="hidden" name="attempt" value="-1"> <input type="hidden" name="rc" value="1"> <input type="hidden" name="hl" value="en">
                  
                  <input id="dnavs" name="dnavs" type="hidden" value=""> 
                  </div>
              </form>
            </div>
      </div>
    </div>
    <div class="navbar navbar-default megamenu">
      <div class="navbar-header">
        <a href="#nogo"  data-toggle="collapse" data-target="#navbar-collapse-fsl" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
      </div>
      <div class="container">  <!-- //* Nav menu */  -->
        <div id="navbar-collapse-fsl" class="navbar-collapse collapse">
          <div class="navbar-center">
            <ul class="nav navbar-nav">
              <li class="dropdown  megamenu-fw">
                <a class="dropdown-toggle" data-toggle="dropdown" href="http://www.nxp.com/webapp/sps/library/prod_lib.jsp">PRODUCTS</a>
              </li>
              <li class="dropdown megamenu-hw">
                <a class="dropdown-toggle" data-toggle="dropdown" href="http://www.nxp.com/webapp/sps/site/homepage.jsp?code=IFINDSTRYFCS">SOLUTIONS</a>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="http://www.nxp.com/webapp/sps/site/homepage.jsp?code=TRAINING_HOME">SUPPORT</a>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="http://www.nxp.com/webapp/sps/site/homepage.jsp?code=COMPANY_INFO_HOME">ABOUT</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div></header>
  
  <div class="clearfix" ></div> 


<div class="container fsl-sp" >
  
<div class="row">
  <div class="col-sm-3" id="leftnav">
    <ul class="leftnav">
      <li><a href="http://www.nxp.com/ko/about/worldwide-locations:GLOBAL_SITES" >Worldwide Locations</a></li>
     
    <li ><a href="media-center.html">Media Center</a>
      <ul>
        <li ><a href="media-press-releases.html"><span class="icon-stop2"></span>&nbsp;Press Releases</a></li>
        <li><a href="media-latest-news.html"><span class="icon-stop2"></span>&nbsp;Product News</a></li>
        <li><a href="http://blog.nxp.com/"><span class="icon-stop2"></span>&nbsp;Blogs</a></li>

        <li class="selected"><a href="media-eb.html"><span class="icon-stop2"></span>&nbsp;Executive Biographies</a></li>
        <li><a href="media-bod.html"><span class="icon-stop2"></span>&nbsp;Board of Directors</a></li>
        <li><a href="media-library.html"><span class="icon-stop2"></span>&nbsp;Media Library</a></li>
      </ul>
    </li>
    <li><a href="http://investors.nxp.com/">Investor Relations</a>    </li>
     <li><a href="http://www.nxp.com/ko/about/careers-at-nxp:CAREERS" >Careers at NXP</a></li>
    <li><a href="http://www.nxp.com/ko/about/our-customers:ABOUT_CUSTOMERS" >Our Customers</a></li>
    <li><a href="http://www.nxp.com/ko/about/corporate-responsibility:CORP_SOCIAL_RESP" >Corporate Responsibility</a></li>
    <li><a href="http://www.nxp.com/ko/about/technology-leadership:RESEARCH_AND_DEVELOPMENT" >Technology Leadership</a></li>
    <li><a href="http://www.nxp.com/ko/about/technology-programs:PRODPROG" >Technology Programs</a></li>
    <li><a href="http://www.nxp.com/ko/about/contact-us:CONTACTUS" >Contact Us</a></li>
    </ul>
    </div>

     <div class="col-sm-9 infounitrule"> 
    
      <div id="bc">
        <ul>
         <li><a href="http://www.nxp.com">NXP</a></li>
           <li><a href="http://www.nxp.com/zh-Hans/about/about-nxp:COMPANY_INFO_HOME">About</a></li> 
          <li><a href="media-center.html">Media Center</a></li>
          <li>Executive Biographies</li>
        </ul> 

      </div>  
      <h1>Executive Biographies</h1>
       <div class="row">
         <div class="col-sm-9">
          
          <div class="panel-group accordion" id="bod-accordion" >
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                      <a data-toggle="collapse" data-parent="#bod-accordion" data-target="#collapseOne"><span class="icon-arrow-right6"></span></a> &nbsp;
                         <a data-toggle="collapse" data-parent="#bod-accordion" data-target="#collapseOne">
                        
                         Gregory L. Sume <br>
                          <span class="small" style="margin-left:27px;">Non-Executive Chairman, Board of Directors</span>  </a> 
                    </div>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="media">
                                      <div class="pull-left">
                                        <img class="media-object img-responsive" src="//placeimg.com/100/150/any" alt="">
                                      </div>
                                      <div class="media-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic quis maiores consequatur. Voluptas nulla animi vitae neque asperiores eius, eum consequuntur, obcaecati tempore dolorum error ratione nam. Magni, itaque, ipsam.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus nobis ullam totam at nulla dicta quaerat assumenda aspernatur vero quam!</p>
                                      </div>
                                    </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                      <a data-toggle="collapse" data-parent="#bod-accordion" data-target="#collapseTwo"><span class="icon-arrow-right6"></span></a> &nbsp;
                         <a data-toggle="collapse" data-parent="#bod-accordion" data-target="#collapseTwo">
                            Guido Diedrick 
                        <br>
                          <span class="small" style="margin-left:27px;">Executive vice president and general counsel</span>  </a> 
                    </div>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="media">
                                      <div class="pull-left">
                                        <img class="media-object img-responsive" src="//placeimg.com/100/150/any" alt="">
                                      </div>
                                      <div class="media-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic quis maiores consequatur. Voluptas nulla animi vitae neque asperiores eius, eum consequuntur, obcaecati tempore dolorum error ratione nam. Magni, itaque, ipsam.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus nobis ullam totam at nulla dicta quaerat assumenda aspernatur vero quam!</p>
                                      </div>
                                    </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                      <a data-toggle="collapse" data-parent="#bod-accordion" data-target="#collapseThree"><span class="icon-arrow-right6"></span></a> &nbsp;
                         <a data-toggle="collapse" data-parent="#bod-accordion" data-target="#collapseThree">
                        
                          Sean Hunkler <br>
                          <span class="small" style="margin-left:27px;">Executive vice president and general manager of operations</span>  </a> 
                    </div>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="media">
                                      <div class="pull-left">
                                        <img class="media-object img-responsive" src="//placeimg.com/100/150/any" alt="">
                                      </div>
                                      <div class="media-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic quis maiores consequatur. Voluptas nulla animi vitae neque asperiores eius, eum consequuntur, obcaecati tempore dolorum error ratione nam. Magni, itaque, ipsam.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus nobis ullam totam at nulla dicta quaerat assumenda aspernatur vero quam!</p>
                                      </div>
                                    </div>
                    </div>
                </div>
            </div>
           
        </div>
          
        

        
         </div>
         <div class="col-sm-3">
           <h4>Media Contact</h4>
           <a href="#nogo">Javey Zuniga</a><br>
           <span>Tel: +1 512 895 7398</span><br>
           <span>Fax: +1 512 895 1777</span>
         </div>
       </div>
    </div>

</div> 
</div>
  <footer> <!-- // /* FOOTER CONTENT GOES HERE */ -->  </footer>
<script type="text/javascript" src="http://style.nxp.com/shared/js/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="http://style.nxp.com/docs/headlines/NXP-NEWS-ko.js"></script>
<script type="text/javascript" src="http://cache.nxp.com/files/js/jquery.carouFredSel-6.2.1-packed.js"></script>
<script type="text/javascript" src="http://cache.nxp.com/ko/files/header/newco-nav.js"></script>
<script type="text/javascript" src="http://cache.nxp.com/ko/files/header/nxp-news.js"></script>
<script type="text/javascript" src="http://cache.nxp.com/shared/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://cache.nxp.com/shared/js/pbar.js"></script>
<script type="text/javascript" src="http://cache.nxp.com/search/javascript/gsa_suggestions.js"></script>


</body>
