@import url('//uat.freescale.com/files/css/fsl-nav.css');

.fsl-container { border:1px solid red; width:990px; margin-left: 10px; padding-left: 5px; padding-right:5px; font-family: Helvetica, Arial, sans-serif; font-size: 14px; margin-bottom: 20px; margin-top: 10px;}