<!DOCTYPE html>
  <html>
  <head>
      <title>NXP Semiconductors :: Secure Connections for a Smarter World</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="description" content="From microcontrollers and processors to sensors, analog ICs and connectivity, our technologies are fueling innovation in automotive, consumer, industrial and networking.">
      <meta name="keywords" content="NXP, NXP Semiconductors, NXP Solutions, NXP Applications, Analog, DSP, Digital Signal Processing, Power Management, Microcontroller, Sensors, RF, Processors, ICs, SOCs">
      <meta name="verify-v1" content="BXkOWcTHpEIHsaiI4T8cQwVghsgXd7NlIg+083NTZNI=">
      <meta name="DCSext.language_option" content="en" />
      <meta name="DCSext.en_ti" content="Welcome to NXP Semiconductors" />
      <meta name="DCSext.page_template" content="Main_Homepage" /> 
      <meta name="baidu-site-verification" content="K9kPMSVOyB" />
      <meta name="msvalidate.01" content="7A3A441EEF38540BD996CCEE9E0EB1F2" /> <!--Bing site verification-->
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black">

      <link href="//plus.google.com/103720125673936444479/posts" rel="publisher">

     <link rel="stylesheet" href="../css/nxp-common.min.css" type="text/css" >
      


  </head>
  
  <body>
 

   <!-- //*  HEADER START  */ -->
  <header><div id="header" class="nxp-nav">
  <div class="container">
    <div class="row" id="top">
      <div class="col-sm-1" >
        <div id="fsl-logo">
          <a href="#" title="NXP Semiconductos" ><img src="../img/NXP_logo.png" alt="NXP Semiconductor"></a>
        </div>
      </div>
      <div class="col-sm-11 pull-right"  >
        <ul class="list-inline pull-right" id="top-nav">
          <li>
            <div class="dropdown" id="login-block">
            <a href="https://www.freescale.com/security/public/login.LoginActionController.sp" onclick="call_pbar_metrics(\'pb_login\')"><span class="icon-user nxp-orange-text"></span>&nbsp;Sign In</a>
            </div>
          </li>
           <li>
           <div class="dropdown" id="languages">
              <a href="#" id="languageDropdownMenu" data-toggle="dropdown"><span class="icon-globe2 nxp-blue-text"></span>&nbsp;English&nbsp;<span class="icon-arrow-down2"></span></a>
              <ul id="language-actions" class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="languageDropdownMenu"   >
                <li role="presentation" class="select-lang">Select language</li>
                <li role="presentation"><a role="menuitem" class="lang-en selected"><span class="icon-earth2 pull-left"></span><span class="icon-checkmark3 fsl-orange-text pull-right"></span>&nbsp;English&nbsp;</a></li>
                <li role="presentation" ><a role="menuitem" class="lang-zh" href="http://www.freescale.com/zh-Hans" ><span class="flag flag-zh pull-left"></span>&nbsp;中文&nbsp;</a></li>
                <li role="presentation"><a role="menuitem" class="lang-ja" href="http://www.freescale.com/ja" ><span class="flag flag-ja pull-left"></span>&nbsp;日本語&nbsp;</a></li>
                <!--  <li role="presentation"><a role="menuitem" class="lang-br" href="http://www.freescale.com/br" ><span class="flag flag-br pull-left"></span>&nbsp;Português&nbsp;</a></li>        --> 
                <li role="presentation"><a role="menuitem" class="lang-ko" href="http://www.freescale.co.kr" ><span class="flag flag-ko pull-left"></span>&nbsp;한국어&nbsp;</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div id="shopping-cart">
              <a href="https://www.freescale.com/webapp/ecommerce.show_cart.framework"><span class="icon-cart nxp-green-text"></span>&nbsp;Cart</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-sm-8 pull-right" id="search-block" >
           <div class="input-group pull-right" id="search-input" >
               <form id="search" class="search-form" name="gs" method="GET" action="http://www.freescale.com/search" onSubmit="return validateSubmitQuery(this);">
            <div class="sf-row">
            <div class="input-group-btn zIndex5" id="search-all">
                <button type="button" class="btn btn-default dropdown-toggle everything" data-toggle="dropdown" tabindex="-1"><span id="Default-choice-list">ALL &nbsp;</span><span class="icon-arrow-down2"></span></button>
                <ul id="search-choices" class="dropdown-menu" role="menu">  
                <li id="All" name="search_all_results" style="display: none;"><a ><span class="icon-globe"></span>&nbsp;&nbsp;All</a></li>
                <li id="Products" name="search_products"><a ><span class="icon-part"></span>&nbsp;&nbsp;Products</a></li>
                <li id="Documents" name="search_documents"><a ><span class="icon-document"></span>&nbsp;&nbsp;Documents</a></li>
                <li id="SoftwareTools" name="search_sw_tools"><a ><span class="icon-tools"></span>&nbsp;&nbsp;Software &amp; Tools</a></li>
                <li id="Support" name="search_support"><a ><span class="icon-question6"></span>&nbsp;&nbsp;Support</a></li>
                <li id="Applications" name="search_applications"><a ><span class="icon-tree3"></span>&nbsp;&nbsp;Applications</a></li>
                <li id="Videos" name="search_videos"><a ><span class="icon-film"></span>&nbsp;&nbsp;Videos</a></li>
                <li id="Trainings" name="search_training"><a ><span class="icon-graduation"></span>&nbsp;&nbsp;Training</a></li>
                <li id="Community" name="search_community"><a ><span class="icon-bubbles"></span>&nbsp;&nbsp;Community</a></li>
                <li id="Blogs" name="search_blogs"><a ><span class="icon-bubble11"></span>&nbsp;&nbsp;Blogs</a></li>
                <li id="Partners" name="search_partner"><a ><span class="icon-user7"></span>&nbsp;&nbsp;Partners</a></li>
                <li id="CrossReference" name="CrossReference"><a ><span class="icon-shuffle2"></span>&nbsp;&nbsp;MCU Cross Reference</a></li>
                <li id="ProductSelector" name="ProductSelector"><a ><span class="icon-equalizer"></span>&nbsp;&nbsp;Product Selector</a></li>
                </ul>
              </div>
                <input type="text" value="" autocomplete="off" onkeyup=" searchTop(event)" id="parts" name="q"
                  placeholder="Search..." class="form-control"/>
                <div class="input-group-btn " id="keyword-button-div" >
                <button style="cursor:pointer" type="submit" class="btn btn-default search-submit"><span class="icon-search2 fsl-gray-text"></span></button>
              <table style="visibility: hidden;" id="result_suggest" cellpadding="0" cellspacing="0" class="ss-gac-m"></table>
              <input id="client" name="client" value="search_all_results" type="hidden">
              <input id="site" name="site" value="fsl_en" type="hidden"> 
              <input id="proxystylesheet" name="proxystylesheet" value="search_style_fe" type="hidden">
              <input id="sort" name="sort" value="date:D:L:d1" type="hidden"> 
              <input id="oe" name="oe" value="UTF-8" type="hidden"> 
              <input id="ie" name="ie" value="UTF-8" type="hidden"> 
              <input id="ud" name="ud" value="1" type="hidden"> 
              <input id="output" name="output" value="xml_no_dtd" type="hidden"> 
              <input id="exclude_apps" name="exclude_apps" value="1" type="hidden"> 
              <input id="callback" name="callback" value="ss_show" type="hidden">
              <input id="lang_cd"  name="lang_cd" value="en" type="hidden">
              <input id="filter" name="filter" value="0" type="hidden">
              <input id="getfields" name="getfields" value="*" type="hidden">
              <input type="hidden" name="baseUrl" value="http://www.freescale.com/webapp"> 
              <input type="hidden" name="SEARCH_OPERATOR" value="Contains">
              <input type="hidden" name="attempt" value="-1">
              <input type="hidden" name="rc" value="1">
              <input type="hidden" name="hl" value="en">
              <input id="dnavs" name="dnavs" type="hidden"> 
              </div></div>
            </form>
            </div>
      </div>
    </div>
    <div class="navbar navbar-default megamenu">
      <div class="navbar-header">
        <a href="#nogo"  data-toggle="collapse" data-target="#navbar-collapse-fsl" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
      </div>
      <div class="container">  <!-- //* Nav menu */  -->
        <div id="navbar-collapse-fsl" class="navbar-collapse collapse">
          <div class="navbar-center">
            <ul class="nav navbar-nav">
              <li class="dropdown  megamenu-fw">
                <a class="dropdown-toggle" data-toggle="dropdown" href="http://www.freescale.com/webapp/sps/library/prod_lib.jsp">PRODUCTS</a>
              </li>
              <li class="dropdown megamenu-hw">
                <a class="dropdown-toggle" data-toggle="dropdown" href="http://www.freescale.com/webapp/sps/site/homepage.jsp?code=IFINDSTRYFCS">SOLUTIONS</a>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="http://www.freescale.com/webapp/sps/site/homepage.jsp?code=TRAINING_HOME">SUPPORT</a>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="http://www.freescale.com/webapp/sps/site/homepage.jsp?code=COMPANY_INFO_HOME">ABOUT</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div></header>
  
  <div class="clearfix" ></div> 


<div class="container" >
  
<div class="row">
  <div class="col-sm-3" id="leftnav">
    <ul class="leftnav">
    <h2>About</h2>
    <li><a href="#nogo">NXP Worldwide</a></li>
    <li><a href="#nogo">Investor Relations</a>    </li>
    <li><a href="#nogo">Careers</a></li>
    <li ><a href="media-center.html">Media Center</a>
      <ul>
        <li><a href="media-blogs.html"><span class="icon-stop2"></span>&nbsp;Blogs</a></li>
        <li class="selected"><a href="media-bod.html"><span class="icon-stop2"></span>&nbsp;Board of Directors</a></li>
        <li><a href="media-eb.html"><span class="icon-stop2"></span>&nbsp;Executive Biographies</a></li>
        <li><a href="media-library.html"><span class="icon-stop2"></span>&nbsp;Media Library</a></li>
        <li><a href="media-press-releases.html"><span class="icon-stop2"></span>&nbsp;Press Releases</a></li>
        <li><a href="media-latest-news.html"><span class="icon-stop2"></span>&nbsp;Latest News</a></li>
      </ul>
    </li>
    <li><a href="#nogo">Customers</a></li>
    </ul>
    </div>

     <div class="col-sm-9"> 
     <span class="pull-right small" style="margin-top:3px;"><a href="#nogo" class="icon-print"></a>&nbsp;&nbsp;&nbsp;<a href="#nogo" class="icon-download3"></a>&nbsp;&nbsp;&nbsp;<a href="#nogo" class="icon-share2"></a></span>
      <div id="bc">
        <ul>
          <li><a href="http://www.nxp.com">NXP</a></li>
          <li><a href="/about">About</a></li> 
          <li><a href="/media">Media Center</a></li>
          <li>Media Library</li>
        </ul> 

      </div>  
      <h1>Media Library</h1>
        <div class="row">
      <div class="tabBar">
        <ul>
         <li><a href="#tab1" class="selected">Executive Gallery</a></li>
         <li><a href="#tab2">Product Gallery</a></li>
         <li><a href="#tab3">Logos</a></li>
         <li><a href="#tab4">Videos</a></li>
        </ul>
      </div>
      <div class="tabs">
      <div id="tab1" class="selected">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, eius.</p>
      </div>
      <div id="tab2">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus doloremque, repellendus adipisci natus maxime enim ea suscipit, corporis iure quibusdam!</p>
      </div>
      <div id="tab3">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum a corporis atque sunt dignissimos veniam eius quasi reiciendis, ea animi nemo ex at, totam recusandae omnis, doloribus obcaecati. Nihil ratione quaerat aut voluptates, asperiores molestias a aliquid amet tempora enim?</p>
      </div>
      <div id="tab4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem atque fuga ad laboriosam saepe, vero iusto asperiores, placeat illum laborum accusantium perferendis. Nesciunt, neque. Repudiandae tempore optio repellat fuga numquam velit in reprehenderit neque aliquid accusamus, voluptatum, ipsum, distinctio delectus maiores incidunt magni deleniti dolore deserunt provident asperiores! Dicta, et!</p>
      </div>
    </div>
  </div>

     </div>
    </div>

</div> 
  <footer> <!-- // /* FOOTER CONTENT GOES HERE */ -->  </footer>


<script src="http://www.freescale.com/docs/headlines/FB_FSL_PRESSRELEASES.js"></script>
<script src="//cache.freescale.com/shared/js/jquery/jquery-1.10.2.js"></script>
<script src="//cache.freescale.com/files/js/jquery.carouFredSel-6.2.1-packed.js"></script>
<script type="text/javascript" src="../js/nxp-nav.js"></script>
<script type="text/javascript" src="//cache.freescale.com/shared/js/bootstrap.min.js"></script>
<script src="//cache.freescale.com/shared/js/pbar.js"></script>
<script type="text/javascript" src="//styles.freescale.com/search/javascript/gsa_suggestions.js"></script>

<style>
  .tabs [id^='tab'] {display:none;}
  .tabs [id^='tab'].selected {display:block;}
  .tabBar a.selected {background-color: white;}
</style>
<script>
  $('.tabBar a').click(function(e){
    e.preventDefault();
    $('.tabBar a').removeClass('selected');
    $('.tabs [id^="tab"]').removeClass('selected');
    var id = $(this).attr('href');
    $(id).addClass('selected');
    $('.tabBar [href='+id+']').addClass('selected')

  })
</script>
  </body>
