<!DOCTYPE html>
  <html>
  <head>
      <title>NXP Semiconductors :: Secure Connections for a Smarter World</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="description" content="From microcontrollers and processors to sensors, analog ICs and connectivity, our technologies are fueling innovation in automotive, consumer, industrial and networking.">
      <meta name="keywords" content="NXP, NXP Semiconductors, NXP Solutions, NXP Applications, Analog, DSP, Digital Signal Processing, Power Management, Microcontroller, Sensors, RF, Processors, ICs, SOCs">
      <meta name="verify-v1" content="BXkOWcTHpEIHsaiI4T8cQwVghsgXd7NlIg+083NTZNI=">
      <meta name="DCSext.language_option" content="en" />
      <meta name="DCSext.en_ti" content="Welcome to NXP Semiconductors" />
      <meta name="DCSext.page_template" content="Main_Homepage" /> 
      <meta name="baidu-site-verification" content="K9kPMSVOyB" />
      <meta name="msvalidate.01" content="7A3A441EEF38540BD996CCEE9E0EB1F2" /> <!--Bing site verification-->
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black">

      <link href="//plus.google.com/103720125673936444479/posts" rel="publisher">

     <link rel="stylesheet" href="../css/nxp-common.min.css" type="text/css" >
         <!--[if lt IE 9]>
          <script src="//www.freescale.com/files/js/html5shiv.js"></script>
          <script src="//www.freescale.com/shared/js/respond.min.js"></script>  
          <link rel="stylesheet" href="../css/nxp-common-ie8.css">   
        <![endif]-->

     <!-- //* ANALYTIC SCRIPTS  */ -->    
     <!--  <script type="text/javascript" src="//styles.freescale.com/shared/js/webanalytics.js"></script>
      <script type="text/javascript" src="//styles.freescale.com/files/js/elqNow/elqwebanalytics.js"></script>   -->

       <!-- Adobe Marketing Cloud Tag Loader Code Copyright 1996-2013 Adobe, Inc. All Rights Reserved More info available at //www.adobe.com/solutions/digital-marketing.html -->

      <!-- <script type="text/javascript">
      //<![CDATA[
      var amc=amc||{};if(!amc.on){amc.on=amc.call=function(){}};
      document.write("<scr"+"ipt type=\"text/javascript\" src=\"//www.adobetag.com/d2/v2/ZDItZnJlZXNjYWxlLTUzODQtMjAwMS0=/amc.js\"></sc"+"ript>");
      //]]>
      </script> -->


      <!-- <script type="text/javascript">
      function getAnalyticsQryParam(url,name)
      {
        var regexS = "[\\?&]"+name+"=([^&#]*)";
        var regex = new RegExp( regexS );
        var tmpURL = url;
        var results = regex.exec( tmpURL );
        if( results == null )
        return "";
        else
        return results[1];
      }

      function getCookieForSiteCatalyst(name){
        var pos=document.cookie.indexOf(name+"=");
        if (pos!=-1){
          var start=pos+name.length+1;
          var end=document.cookie.indexOf(";",start);
          if (end==-1){
            end=document.cookie.length;
          }
          return unescape(document.cookie.substring(start,end));
        }
        return null;
      }
      var s_vt_id = getCookieForSiteCatalyst("freescale_visitor_id");
      var s_site_platform = "normal";
      if (s) {
        s.pageURL = "http://www.freescale.com"; 
        s.eVar15 = s_vt_id;
        s.eVar16 = "http://www.freescale.com";
        s.eVar17 = "full";
        s.eVar18 = "en";
        s.eVar19 = "Freescale Semiconductor | Embedded Processing Solutions";
        s.pageName = "General: Freescale Semiconductor | Embedded Processing Solutions";
        s.prop16 = "D=pageName";
        s.channel = "Home";
        s.prop1 = "General";
        var tid = getAnalyticsQryParam(document.URL, "tid");
        s.eVar23 = tid;  
        var s_contentFind  = getContentFinding(document.referrer, document.URL);
        if(s_contentFind  != null && s_contentFind  != '') {            
        s.eVar1 = s_contentFind ;
        }
        s.t();
        s.eVar1 = "";  
      }
      </script> -->
      <!-- End Adobe Marketing Cloud Tag Loader Code -->


  </head>
  
  <body>
 

   <!-- //*  HEADER START  */ -->
  <header><div id="header" class="nxp-nav">
  <div class="container">
    <div class="row" id="top">
      <div class="col-sm-1" >
        <div id="fsl-logo">
          <a href="#" title="NXP Semiconductos" ><img src="../img/NXP_logo.png" alt="NXP Semiconductor"></a>
        </div>
      </div>
      <div class="col-sm-11 pull-right"  >
        <ul class="list-inline pull-right" id="top-nav">
          <li>
            <div class="dropdown" id="login-block">
            <a href="https://www.freescale.com/security/public/login.LoginActionController.sp" onclick="call_pbar_metrics(\'pb_login\')"><span class="icon-user nxp-orange-text"></span>&nbsp;Sign In</a>
            </div>
          </li>
           <li>
           <div class="dropdown" id="languages">
              <a href="#" id="languageDropdownMenu" data-toggle="dropdown"><span class="icon-globe2 nxp-blue-text"></span>&nbsp;English&nbsp;<span class="icon-arrow-down2"></span></a>
              <ul id="language-actions" class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="languageDropdownMenu"   >
                <li role="presentation" class="select-lang">Select language</li>
                <li role="presentation"><a role="menuitem" class="lang-en selected"><span class="icon-earth2 pull-left"></span><span class="icon-checkmark3 fsl-orange-text pull-right"></span>&nbsp;English&nbsp;</a></li>
                <li role="presentation" ><a role="menuitem" class="lang-zh" href="http://www.freescale.com/zh-Hans" ><span class="flag flag-zh pull-left"></span>&nbsp;中文&nbsp;</a></li>
                <li role="presentation"><a role="menuitem" class="lang-ja" href="http://www.freescale.com/ja" ><span class="flag flag-ja pull-left"></span>&nbsp;日本語&nbsp;</a></li>
                <!--  <li role="presentation"><a role="menuitem" class="lang-br" href="http://www.freescale.com/br" ><span class="flag flag-br pull-left"></span>&nbsp;Português&nbsp;</a></li>        --> 
                <li role="presentation"><a role="menuitem" class="lang-ko" href="http://www.freescale.co.kr" ><span class="flag flag-ko pull-left"></span>&nbsp;한국어&nbsp;</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div id="shopping-cart">
              <a href="https://www.freescale.com/webapp/ecommerce.show_cart.framework"><span class="icon-cart nxp-green-text"></span>&nbsp;Cart</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-sm-8 pull-right" id="search-block" >
           <div class="input-group pull-right" id="search-input" >
               <form id="search" class="search-form" name="gs" method="GET" action="http://www.freescale.com/search" onSubmit="return validateSubmitQuery(this);">
            <div class="sf-row">
            <div class="input-group-btn zIndex5" id="search-all">
                <button type="button" class="btn btn-default dropdown-toggle everything" data-toggle="dropdown" tabindex="-1"><span id="Default-choice-list">ALL &nbsp;</span><span class="icon-arrow-down2"></span></button>
                <ul id="search-choices" class="dropdown-menu" role="menu">  
                <li id="All" name="search_all_results" style="display: none;"><a ><span class="icon-globe"></span>&nbsp;&nbsp;All</a></li>
                <li id="Products" name="search_products"><a ><span class="icon-part"></span>&nbsp;&nbsp;Products</a></li>
                <li id="Documents" name="search_documents"><a ><span class="icon-document"></span>&nbsp;&nbsp;Documents</a></li>
                <li id="SoftwareTools" name="search_sw_tools"><a ><span class="icon-tools"></span>&nbsp;&nbsp;Software &amp; Tools</a></li>
                <li id="Support" name="search_support"><a ><span class="icon-question6"></span>&nbsp;&nbsp;Support</a></li>
                <li id="Applications" name="search_applications"><a ><span class="icon-tree3"></span>&nbsp;&nbsp;Applications</a></li>
                <li id="Videos" name="search_videos"><a ><span class="icon-film"></span>&nbsp;&nbsp;Videos</a></li>
                <li id="Trainings" name="search_training"><a ><span class="icon-graduation"></span>&nbsp;&nbsp;Training</a></li>
                <li id="Community" name="search_community"><a ><span class="icon-bubbles"></span>&nbsp;&nbsp;Community</a></li>
                <li id="Blogs" name="search_blogs"><a ><span class="icon-bubble11"></span>&nbsp;&nbsp;Blogs</a></li>
                <li id="Partners" name="search_partner"><a ><span class="icon-user7"></span>&nbsp;&nbsp;Partners</a></li>
                <li id="CrossReference" name="CrossReference"><a ><span class="icon-shuffle2"></span>&nbsp;&nbsp;MCU Cross Reference</a></li>
                <li id="ProductSelector" name="ProductSelector"><a ><span class="icon-equalizer"></span>&nbsp;&nbsp;Product Selector</a></li>
                </ul>
              </div>
                <input type="text" value="" autocomplete="off" onkeyup=" searchTop(event)" id="parts" name="q"
                  placeholder="Search..." class="form-control"/>
                <div class="input-group-btn " id="keyword-button-div" >
                <button style="cursor:pointer" type="submit" class="btn btn-default search-submit"><span class="icon-search2 fsl-gray-text"></span></button>
              <table style="visibility: hidden;" id="result_suggest" cellpadding="0" cellspacing="0" class="ss-gac-m"></table>
              <input id="client" name="client" value="search_all_results" type="hidden">
              <input id="site" name="site" value="fsl_en" type="hidden"> 
              <input id="proxystylesheet" name="proxystylesheet" value="search_style_fe" type="hidden">
              <input id="sort" name="sort" value="date:D:L:d1" type="hidden"> 
              <input id="oe" name="oe" value="UTF-8" type="hidden"> 
              <input id="ie" name="ie" value="UTF-8" type="hidden"> 
              <input id="ud" name="ud" value="1" type="hidden"> 
              <input id="output" name="output" value="xml_no_dtd" type="hidden"> 
              <input id="exclude_apps" name="exclude_apps" value="1" type="hidden"> 
              <input id="callback" name="callback" value="ss_show" type="hidden">
              <input id="lang_cd"  name="lang_cd" value="en" type="hidden">
              <input id="filter" name="filter" value="0" type="hidden">
              <input id="getfields" name="getfields" value="*" type="hidden">
              <input type="hidden" name="baseUrl" value="http://www.freescale.com/webapp"> 
              <input type="hidden" name="SEARCH_OPERATOR" value="Contains">
              <input type="hidden" name="attempt" value="-1">
              <input type="hidden" name="rc" value="1">
              <input type="hidden" name="hl" value="en">
              <input id="dnavs" name="dnavs" type="hidden"> 
              </div></div>
            </form>
            </div>
      </div>
    </div>
    <div class="navbar navbar-default megamenu">
      <div class="navbar-header">
        <a href="#nogo"  data-toggle="collapse" data-target="#navbar-collapse-fsl" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
      </div>
      <div class="container">  <!-- //* Nav menu */  -->
        <div id="navbar-collapse-fsl" class="navbar-collapse collapse">
          <div class="navbar-center">
            <ul class="nav navbar-nav">
              <li class="dropdown  megamenu-fw">
                <a class="dropdown-toggle" data-toggle="dropdown" href="http://www.freescale.com/webapp/sps/library/prod_lib.jsp">PRODUCTS</a>
              </li>
              <li class="dropdown megamenu-hw">
                <a class="dropdown-toggle" data-toggle="dropdown" href="http://www.freescale.com/webapp/sps/site/homepage.jsp?code=IFINDSTRYFCS">SOLUTIONS</a>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="http://www.freescale.com/webapp/sps/site/homepage.jsp?code=TRAINING_HOME">SUPPORT</a>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="http://www.freescale.com/webapp/sps/site/homepage.jsp?code=COMPANY_INFO_HOME">ABOUT</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div></header>
  
  <div class="clearfix" ></div> 


<div class="container" >
  
<div class="row">
  <div class="col-sm-3" id="leftnav">
    <ul class="leftnav">
    <h2>About</h2>
    <li><a href="#nogo">NXP Worldwide</a></li>
    <li ><a href="investor-relations.html">Investor Relations</a>
      <ul>
      <li ><a href="#nogo"><span class="icon-stop2"></span>&nbsp;Financial Information</a>
          <ul>
            <li ><a href="financial-results.html"><span class="icon-stop2"></span>&nbsp;Financial Results</a></li>
            <li class="selected"><a href="sec-filings.html"><span class="icon-stop2"></span>&nbsp;SEC Filings</a></li>
          </ul>
      </li>
        <li ><a href="#nogo"><span class="icon-stop2"></span>&nbsp;Stock Information</a></li>
        <li  ><a href="#nogo"><span class="icon-stop2"></span>&nbsp;Press Releases</a></li>
        <li ><a href="#nogo"><span class="icon-stop2"></span>&nbsp;Corporate Governance</a></li>
        <li ><a href="#nogo"><span class="icon-stop2"></span>&nbsp;Events</a></li>
        <li ><a href="#nogo"><span class="icon-stop2"></span>&nbsp;FAQ</a></li>
        <li ><a href="#nogo"><span class="icon-stop2"></span>&nbsp;Contacts</a></li>
        </ul>
    </li>
    <li><a href="#nogo">Careers</a></li>
    <li><a href="#nogo">Media Center</a></li>
    <li><a href="#nogo">Customers</a></li>
    </ul>
    </div>

     <div class="col-sm-9"> 
     <!-- <div class="lc"> -->
      <div id="bc">
        <ul>
          <li><a href="http://www.nxp.com">NXP</a></li>
          <li><a href="/about">About</a></li> 
          <li><a href="/about/investor-relations">Investor Relations</a></li>
          <li><a href="/about/investor-relations/financial-information">Financial Information</a></li>
          <li>SEC Filings</li>
        </ul> 
      </div>  
      <h1>SEC Filings</h1>
      <br>
      <h2>Filter Results</h2>
       <div class="row">
        <div class="col-sm-6">
        <label for="">Word Search</label>
         <div class="input-group">

               <input type="text" class="form-control" placeholder="Search">
               <span class="input-group-btn">
                 <button class="btn nxp-gray-cool-light nxp-gray-text" type="button">Search</button>
               </span>
             </div><!-- /input-group -->
             <br>
             <label for="">Filing Types</label>
               <select class="form-control nxp-gray-cool-light">
                 <option>All Forms</option>
                 <option>2</option>
                 <option>3</option>
                 <option>4</option>
                 <option>5</option>
               </select>
        </div>
        <div class="col-sm-6">
         <label for="">View</label>
        <select class="form-control nxp-gray-cool-light">
          <option>NXPI</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        
           <br>
           <label for="">By Year</label>
             <select class="form-control nxp-gray-cool-light">
          <option>All Dates</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        </div>
        
        <div class="col-sm-12">
         <table class="table">
         <thead>
         <th><h4>Filings</h4></th>
         <th><h4>Description</h4></th>
         <th><h4>Date Filed</h4></th>
         <th><h4>Size</h4></th>
         <th><h4>Download</h4></th>
         </thead>
         <tbody class="large">
           <tr>
             <td>425</td>
             <td><a href="#nogo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, distinctio?</a></td>
             <td>08/31/2015</td>
             <td>142.5KB</td>
             <td><span class="icon-file-pdf"></span>&nbsp;<span class="icon-file-word"></span>&nbsp;<span class="icon-file-pdf"></span></td>
           </tr>
           <tr>
             <td>425</td>
             <td><a href="#nogo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, distinctio?</a></td>
             <td>08/31/2015</td>
             <td>142.5KB</td>
             <td><span class="icon-file-pdf"></span>&nbsp;<span class="icon-file-word"></span>&nbsp;<span class="icon-file-pdf"></span></td>
           </tr>
           <tr>
             <td>425</td>
             <td><a href="#nogo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, distinctio?</a></td>
             <td>08/31/2015</td>
             <td>142.5KB</td>
             <td><span class="icon-file-pdf"></span>&nbsp;<span class="icon-file-word"></span>&nbsp;<span class="icon-file-pdf"></span></td>
           </tr>
           <tr>
             <td>425</td>
             <td><a href="#nogo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, distinctio?</a></td>
             <td>08/31/2015</td>
             <td>142.5KB</td>
             <td><span class="icon-file-pdf"></span>&nbsp;<span class="icon-file-word"></span>&nbsp;<span class="icon-file-pdf"></span></td>
           </tr>
         </tbody>

         </table>
         
         </ul>
         
        </div>
        
      </div>
    
      

     </div>

     

  </div>

</div> 
</div>

  <footer> <!-- // /* FOOTER CONTENT GOES HERE */ -->  </footer>


<script src="http://www.freescale.com/docs/headlines/FB_FSL_PRESSRELEASES.js"></script>
<script src="//cache.freescale.com/shared/js/jquery/jquery-1.10.2.js"></script>
<script src="//cache.freescale.com/files/js/jquery.carouFredSel-6.2.1-packed.js"></script>
<script type="text/javascript" src="../js/nxp-nav.js"></script>
<script type="text/javascript" src="//cache.freescale.com/shared/js/bootstrap.min.js"></script>
<script src="//cache.freescale.com/shared/js/pbar.js"></script>
<script type="text/javascript" src="//styles.freescale.com/search/javascript/gsa_suggestions.js"></script>


<!-- //* ANALYTICS  //* -->

<!-- <script src="//styles.freescale.com/files/abstract/misc/SDC_SMARTSOURCE_TAG.js?v=200100325"></script>
<noscript>
<img src="//fdc.freescale.com/dcsna6bpqoifwzzkbkpmprmyf_5x3f/njs.gif?dcsuri=/nojavascript&amp;WT.js=No" alt="" name="DCSIMG" width="1" height="1" border="0">
</noscript>
 --><!-- Eloqua Code -->
<!-- <script>elqTryI = true;</script>
<script src="//styles.freescale.com/elqNow/elqCfg.js"></script>
<script src="//styles.freescale.com/elqNow/elqFCS.js"></script>
<script>
if ((window.location.hostname.indexOf("www.freescale.com")) !=-1){
  elqURL='http://'+window.location.hostname+window.location.pathname+window.location.search;
  elqFCS(elqURL);
}
</script>
 --><!-- END Eloqua Code -->


<!-- DO NOT REMOVE OR ALTER EXCEPT IN www - - BEGIN DoubleClick Spotlight Tag -->
<!-- WHEN UPLOADING THIS PAGE TO www, the DoubleClick Spotlight Tag _must be removed_ -->
<!-- Activity Name for this tag is: Homepage -->
<!-- Web site URL where tag should be placed:  -->

<!-- This tag must be placed within the opening <body> tag, as close to the beginning of it as possible -->
<!-- Creation Date: 6/23/2005 -->
<!-- <script>
// <![CDATA[
// var axel = Math.random()+"";
// var a = axel * 10000000000000;
// document.write('<img src="//ad.doubleclick.net/activity;src=1032122;type=gener939;cat=homep835;ord=1;num='+ a + '?" width="1" height="1" border="0" alt="">');
// // ]]>
</script>
<noscript>
<img src="//ad.doubleclick.net/activity;src=1032122;type=gener939;cat=homep835;ord=1;num=1?" width="1" height="1" border="0" alt="">
</noscript> -->
<!-- WHEN UPLOADING THIS PAGE TO www, the DoubleClick Spotlight Tag _must be removed_ -->
<!-- DO NOT REMOVE OR ALTER EXCEPT IN www - - END DoubleClick Spotlight Tag -->

<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Creation Date: 04/01/2013
Added by: B27206
-->
<!-- <script type="text/javascript">
 var axel = Math.random() + "";
 var a = axel * 10000000000000;
 document.write('<iframe src="//3287271.fls.doubleclick.net/activityi;src=3287271;type=homep529;cat=frees093;ord=1;num=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
 <noscript>
<iframe src="//3287271.fls.doubleclick.net/activityi;src=3287271;type=homep529;cat=frees093;ord=1;num=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript> -->

<!-- End of DoubleClick Floodlight Tag: Please do not remove -->



  </body>
